<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam file="$(find nav_test)/config/xiaoqiang/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/global_planner_params.yaml" command="load" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/navfn_global_planner_params.yaml" command="load" />
    <remap from="/scan_filtered" to="/scan" />
  </node>
  <!-- 设为０关闭底盘红外，设为１启动底盘红外-->
  <node pkg="nav_test" type="barDetectChanger.py" name="barDetectChanger_node">
    <param name="barDetectFlag" value="0"/>
  </node>
</launch>
